/*eliminates any extra data outside of the default x-axis*/
body {
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

header {
    padding: 40px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1%;
    justify-content: space-between;
    border-bottom: 4px solid;
}

header h1 {
    font-size: 300%;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 20px;
}

nav ul {
    justify-content: space-between;
    min-width: 400px;
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 40px;
    display: flex;
}

main {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 40px 40px 10px;
    display: flex;
}

/*positioned to not change the layout of other divs around*/
main h2 {
    font-size: 250%;
    font-weight: bolder;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    padding: 20px;
    border: 4px solid;
    z-index: 1;
    width: 15%;
    background-color: black;
    color: white;
    border-color: lightblue;
    top: 80px;
    left: 5px;
    min-width: 223px;
}

.bio {
    background-color: lightblue;
    font-size: 125%;
    margin: 30px;
    border: 5px solid;
    justify-content: space-between;
    padding: 40px;
}

aside {
    width: 100%;
    justify-content: space-between;
}
/*positioned to move with paragraph div and change size with window*/
aside img {
    position: relative;
    width: 250px;
    height: 180px;
    align-items: center;
    top: 50px;
    border: 5px solid;
    right: 50px;
}
/*quick media box for my github and linkedin for quick access*/
.media {
    position: relative;
    right: 250px;
    top: -100px;
    width: 10%;
    height: 25px;
    border: 4px solid;
    background-color: lightblue;
    min-width: 100px;
    height: 50px;
    background-color: white;
    padding: 5px;
}
/*github and linkedin images*/
.media img {
    width: 45%;
    align-items: center;
    text-align: center;
}
/*image will grow when hovered*/
.media img:hover {
    height: 100%;
    width: 50%;
}
/*flex wrap for all of the project sections so that they flow well with webpage size*/
.projects {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h3 {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    font-size: 250%;
    border-bottom: 5px solid;
    padding-bottom: 10px;
}
/*placeholder image for now, will add project images in the future*/
.card {
    background-image: url(./images/project.jpeg);
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 400px;
    height: 400px;
    margin: 20px;
}

.card h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 80%;
    background-color: black;
    padding: 20px;
    border: 3px solid;
    border-color: white;
}
/*ultra wide monitors will not have a weird flex-wrap effect*/
@media only screen and (min-width: 2300px) {
    .projects h3 {
        width: 95%;
    }
}
/*media quiry to make everthing fall into a column style, previous formatting looked poor*/
@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }

    .bio {
        margin-bottom: 20px;
        width: 80%;
    }

    aside {
        width: fit-content;
        height: fit-content;
        top: 0px;
        right: 0px;
    }

    aside img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
        align-items: center;
        text-align: center;
        right: 0px;
    }
    /*took away media class, did not fit well with new format*/
    .media {
        display: none;
    }

    .projects {
        margin-top: 40px;
    }
}
/*moved h2 so that it did not conflict with the format change of h1*/
@media only screen and (max-width: 770px) {
    main h2 {
        top: 120px;
    }
}
/*this media quiry is for the mobile size*/
@media only screen and (max-width: 400px) {
    header nav ul {
        display: none;
    }

    header h1 {
        text-align: center;
        margin: 0px;
    }

    main h2 {
        width: 87%;
        top: 80px;
        left: 0px;
        min-width: none;
    }

    main {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .bio {
        padding: 70px 10px 20px 10px;
        width: 80%;
        margin-left: 15px;
    }
}